nav {
  background: #1d1e2c;
}

.btn-lg {
  width: 10em;
  margin: 0.5em;
}

#submitItemBtn {
  margin-top: 10vh;
}

#actionContainer {
  height: 30vh;
}

#profileItemSubmit {
  background-color: gray;
}

.card-text {
  height: 10vw;
}

.badge {
  position: absolute;
  top: 5px;
  right: 30px;
  padding: 1px 4px;
  border-radius: 50%;
}

div#notificationDropdown,
div#userDropdown {
  position: absolute;
}
