.btn-lg{
    width: 10em;
    margin: .5em;
    background-color: gray;
}

#submitItemBtn{
    margin-top: 10vh;
}

#actionContainer{
    height: 30vh;
   
}

#profileItemSubmit{
    background-color: gray;
}

.card-text{
    height: 10vw;
}
