body {
  background: #59656f;
  color: white;
}

nav {
  background: #1d1e2c;
}

#lostJumbo {
  background: #7fc29b;
  color: black;
}

#brand,
h1,
h2,
h3,
h5 {
  font-family: 'Itim', cursive;
}

h5 {
  color: black;
}

.reportBtn {
  background: #1d1e2c;
  border: 2px solid #59656f;
  color: white;
}

.reportBtn:hover {
  background: #7fc29b;
  border: 2px solid #1d1e2c;
  color: black;
}

.card {
  opacity: 80%;
  color: black;
}

#spawnedCards:hover {
  box-shadow: 3px 3px 5px 6px rgba(56, 56, 56, 0.74);
}

#card-footer a,
#foundBtn {
  background: #7fc29b;
  border: 2px solid #1d1e2c;
  color: black;
}

#card-footer a:hover,
#foundBtn:hover {
  background: #1d1e2c;
  border: 2px solid #7fc29b;
  color: white;
}

.modalLabel {
  color: black;
}

.btn-lg {
  width: 10em;
  margin: 0.5em;
}

#submitItemBtn {
  margin-top: 10vh;
}

#actionContainer {
  height: 30vh;
}

#profileItemSubmit {
  background-color: gray;
}

.card-text {
  height: 10vw;
}

.badge {
  position: absolute;
  top: 5px;
  right: 30px;
  padding: 1px 4px;
  border-radius: 50%;
}

div#notificationDropdown,
div#userDropdown {
  position: absolute;
}

.container {
  margin-top: 25px;
}